 # `pandas`: Základní dotazy
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber

In [1]:
import pandas

Data si stáhni [zde](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/nacteni-dat/staty.json). Jsou ve formátu JSON, proto použijeme vhodnou metodu `read_json`:

In [5]:
staty = pandas.read_json('staty.json')
staty
staty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        250 non-null    object
 1   alpha2Code  250 non-null    object
 2   alpha3Code  250 non-null    object
 3   capital     250 non-null    object
 4   region      250 non-null    object
 5   subregion   250 non-null    object
 6   population  250 non-null    int64
 7   area        240 non-null    float64
 8   gini        153 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 17.7+ KB

Ukážeme si, jak filtrovat řádky v tabulce na základě hodnot ve sloupcích. Například, které státy mají počet obyvatel menší než 10000?

In [6]:
staty["population"]

0      27657145
1         28875
2       2886026
3      40400000
4         57100
         ...
245       11750
246      510713
247    27478000
248    15933883
249    14240168
Name: population, Length: 250, dtype: int64

In [8]:

#print(staty["population"] < 10_000)

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: population, Length: 250, dtype: bool

In [9]:
staty[staty["population"] < 10_000]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
8,Antarctica,AQ,ATA,,Polar,,1000,14000000.00,NaN
30,Bouvet Island,BV,BVT,,,,0,49.00,NaN
32,British Indian Ocean Territory,IO,IOT,Diego Garcia,Africa,Eastern Africa,3000,60.00,NaN
33,United States Minor Outlying Islands,UM,UMI,,Americas,Northern America,300,NaN,NaN
49,Christmas Island,CX,CXR,Flying Fish Cove,Oceania,Australia and New Zealand,2072,135.00,NaN
50,Cocos (Keeling) Islands,CC,CCK,West Island,Oceania,Australia and New Zealand,550,14.00,NaN
73,Falkland Islands (Malvinas),FK,FLK,Stanley,Americas,South America,2563,12173.00,NaN
80,French Southern Territories,TF,ATF,Port-aux-Français,Africa,Southern Africa,140,7747.00,NaN
98,Heard Island and McDonald Islands,HM,HMD,,,,0,412.00,NaN
99,Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN
150,Montserrat,MS,MSR,Plymouth,Americas,Caribbean,4922,102.00,NaN
163,Niue,NU,NIU,Alofi,Oceania,Polynesia,1470,260.00,NaN
164,Norfolk Island,NF,NFK,Kingston,Oceania,Australia and New Zealand,2302,36.00,NaN
177,Pitcairn,PN,PCN,Adamstown,Oceania,Polynesia,56,47.00,NaN
187,Saint Barthélemy,BL,BLM,Gustavia,Americas,Caribbean,9417,21.00,NaN
188,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,Jamestown,Africa,Western Africa,4255,NaN,NaN
192,Saint Pierre and Miquelon,PM,SPM,Saint-Pierre,Americas,Northern America,6069,242.00,NaN
209,South Georgia and the South Sandwich Islands,GS,SGS,King Edward Point,Americas,South America,30,NaN,NaN
216,Svalbard and Jan Mayen,SJ,SJM,Longyearbyen,Europe,Northern Europe,2562,NaN,NaN
227,Tokelau,TK,TKL,Fakaofo,Oceania,Polynesia,1411,12.00,NaN

Které státy leží v subregionu `"South America"`?

In [13]:
staty_jizni_ameriky = staty[staty["subregion"] == "South America"]
staty_jizni_ameriky["name"]

10                                        Argentina
26                 Bolivia (Plurinational State of)
31                                           Brazil
47                                            Chile
51                                         Colombia
66                                          Ecuador
73                      Falkland Islands (Malvinas)
78                                    French Guiana
96                                           Guyana
174                                        Paraguay
175                                            Peru
209    South Georgia and the South Sandwich Islands
215                                        Suriname
240                                         Uruguay
243              Venezuela (Bolivarian Republic of)
Name: name, dtype: object

Které státy mají nízký index ekonomické nerovnosti, např. menší než 30?

In [17]:
staty[staty["gini"] < 30] # indexy se zachovávají
staty[staty["gini"] < 30].reset_index() #index zustane a přidá se nový číslovaný od začátku
staty[staty["gini"] < 30].reset_index(drop=True) #jen nový číslovaný od začátku
#index_gini_nizky = staty[staty["gini"] < 30]
#index_gini_nizky["name"]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0,27.8
1,Austria,AT,AUT,Vienna,Europe,Western Europe,8725931,83871.0,26.0
2,Belarus,BY,BLR,Minsk,Europe,Eastern Europe,9498700,207600.0,26.5
3,Bulgaria,BG,BGR,Sofia,Europe,Eastern Europe,7153784,110879.0,28.2
4,Czech Republic,CZ,CZE,Prague,Europe,Eastern Europe,10558524,78865.0,26.0
5,Denmark,DK,DNK,Copenhagen,Europe,Northern Europe,5717014,43094.0,24.0
6,Ethiopia,ET,ETH,Addis Ababa,Africa,Eastern Africa,92206005,1104300.0,29.8
7,Finland,FI,FIN,Helsinki,Europe,Northern Europe,5491817,338424.0,26.9
8,Germany,DE,DEU,Berlin,Europe,Western Europe,81770900,357114.0,28.3
9,Kazakhstan,KZ,KAZ,Astana,Asia,Central Asia,17753200,2724900.0,29.0
10,Norway,NO,NOR,Oslo,Europe,Northern Europe,5223256,323802.0,25.8
11,Serbia,RS,SRB,Belgrade,Europe,Southern Europe,7076372,88361.0,27.8
12,Slovakia,SK,SVK,Bratislava,Europe,Eastern Europe,5426252,49037.0,26.0
13,Sweden,SE,SWE,Stockholm,Europe,Northern Europe,9894888,450295.0,25.0
14,Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.0,26.4

## Kombinace podmínek
Které státy jsou velké rozlohou (např. víc než 100 000), a mají zároveň malý počet obyvatel (méně než 1 milion)?

In [20]:
#staty[staty["area"] > 100_000][staty["population"] < 1_000_000]

staty[(staty["population"] < 1_000_000) & (staty["area"] > 100_000)]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
8,Antarctica,AQ,ATA,,Polar,,1000,14000000.0,NaN
88,Greenland,GL,GRL,Nuuk,Americas,Northern America,55847,2166086.0,NaN
96,Guyana,GY,GUY,Georgetown,Americas,South America,746900,214969.0,44.5
103,Iceland,IS,ISL,Reykjavík,Europe,Northern Europe,334300,103000.0,NaN
215,Suriname,SR,SUR,Paramaribo,Americas,South America,541638,163820.0,52.9
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN

Které státy leží v Evropě nebo v Africe?

In [22]:
#staty[staty["region"] == "Europe"] | [staty["region"] == "Africa"] | [...] | [...] # lze řetězit podmínky ale je to nepřehledné->ISIN
staty[(staty["region"] == "Europe") | (staty["region"] == "Africa")] # s kulatými závorka je to přehlednější ale lze i bez nich

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,35.3
5,Andorra,AD,AND,Andorra la Vella,Europe,Southern Europe,78014,468.0,NaN
6,Angola,AO,AGO,Luanda,Africa,Middle Africa,25868000,1246700.0,58.6
...,...,...,...,...,...,...,...,...,...
236,Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.0,26.4
238,United Kingdom of Great Britain and Northern I...,GB,GBR,London,Europe,Northern Europe,65110000,242900.0,34.0
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN
248,Zambia,ZM,ZMB,Lusaka,Africa,Eastern Africa,15933883,752612.0,54.6
249,Zimbabwe,ZW,ZWE,Harare,Africa,Eastern Africa,14240168,390757.0,NaN

## Metoda `isin`
Které státy leží v Evropě nebo v Africe?

In [25]:
staty[staty["region"].isin(["Europe", "Africa"])]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,35.3
5,Andorra,AD,AND,Andorra la Vella,Europe,Southern Europe,78014,468.0,NaN
6,Angola,AO,AGO,Luanda,Africa,Middle Africa,25868000,1246700.0,58.6
...,...,...,...,...,...,...,...,...,...
236,Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.0,26.4
238,United Kingdom of Great Britain and Northern I...,GB,GBR,London,Europe,Northern Europe,65110000,242900.0,34.0
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN
248,Zambia,ZM,ZMB,Lusaka,Africa,Eastern Africa,15933883,752612.0,54.6
249,Zimbabwe,ZW,ZWE,Harare,Africa,Eastern Africa,14240168,390757.0,NaN

## Metoda `between`
Které státy mají počet obyvatel mezi jedním a pěti miliony?

In [27]:
#staty[(staty["population"] > 1_000_000) & (staty["population"] < 5_000_000)]
staty[staty["population"].between(1_000_000, 5_000_000, inclusive='both')]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
11,Armenia,AM,ARM,Yerevan,Asia,Western Asia,2994400,29743.0,30.9
17,Bahrain,BH,BHR,Manama,Asia,Western Asia,1404900,765.0,NaN
28,Bosnia and Herzegovina,BA,BIH,Sarajevo,Europe,Southern Europe,3531159,51209.0,36.2
29,Botswana,BW,BWA,Gaborone,Africa,Southern Africa,2141206,582000.0,61.0
45,Central African Republic,CF,CAF,Bangui,Africa,Middle Africa,4998000,622984.0,56.3
53,Congo,CG,COG,Brazzaville,Africa,Middle Africa,4741000,342000.0,47.3
56,Costa Rica,CR,CRI,San José,Americas,Central America,4890379,51100.0,50.7
57,Croatia,HR,HRV,Zagreb,Europe,Southern Europe,4190669,56594.0,33.7
69,Equatorial Guinea,GQ,GNQ,Malabo,Africa,Middle Africa,1222442,28051.0,NaN
71,Estonia,EE,EST,Tallinn,Europe,Northern Europe,1315944,45227.0,36.0
81,Gabon,GA,GAB,Libreville,Africa,Middle Africa,1802278,267668.0,41.5
82,Gambia,GM,GMB,Banjul,Africa,Western Africa,1882450,11295.0,NaN
83,Georgia,GE,GEO,Tbilisi,Asia,Western Asia,3720400,69700.0,41.3
95,Guinea-Bissau,GW,GNB,Bissau,Africa,Western Africa,1547777,36125.0,35.5
113,Jamaica,JM,JAM,Kingston,Americas,Caribbean,2723246,10991.0,45.5
120,Kuwait,KW,KWT,Kuwait City,Asia,Western Asia,4183658,17818.0,NaN
123,Latvia,LV,LVA,Riga,Europe,Northern Europe,1961600,64559.0,36.6
125,Lesotho,LS,LSO,Maseru,Africa,Southern Africa,1894194,30355.0,52.5
126,Liberia,LR,LBR,Monrovia,Africa,Western Africa,4615000,111369.0,38.2
129,Lithuania,LT,LTU,Vilnius,Europe,Northern Europe,2872294,65300.0,37.6
132,Macedonia (the former Yugoslav Republic of),MK,MKD,Skopje,Europe,Southern Europe,2058539,25713.0,43.2
141,Mauritania,MR,MRT,Nouakchott,Africa,Western Africa,3718678,1030700.0,40.5
142,Mauritius,MU,MUS,Port Louis,Africa,Eastern Africa,1262879,2040.0,NaN
146,Moldova (Republic of),MD,MDA,Chișinău,Europe,Eastern Europe,3553100,33846.0,33.0
148,Mongolia,MN,MNG,Ulan Bator,Asia,Eastern Asia,3093100,1564110.0,36.5
154,Namibia,NA,NAM,Windhoek,Africa,Southern Africa,2324388,825615.0,63.9
159,New Zealand,NZ,NZL,Wellington,Oceania,Australia and New Zealand,4697854,270467.0,36.2
168,Oman,OM,OMN,Muscat,Asia,Western Asia,4420133,309500.0,NaN
171,"Palestine, State of",PS,PSE,Ramallah,Asia,Western Asia,4682467,NaN,35.5
172,Panama,PA,PAN,Panama City,Americas,Central America,3814672,75417.0,51.9
180,Puerto Rico,PR,PRI,San Juan,Americas,Caribbean,3474182,8870.0,NaN
181,Qatar,QA,QAT,Doha,Asia,Western Asia,2587564,11586.0,41.1
182,Republic of Kosovo,XK,KOS,Pristina,Europe,Eastern Europe,1733842,10908.0,NaN
205,Slovenia,SI,SVN,Ljubljana,Europe,Southern Europe,2064188,20273.0,31.2
217,Swaziland,SZ,SWZ,Lobamba,Africa,Southern Africa,1132657,17364.0,51.5
225,Timor-Leste,TL,TLS,Dili,Asia,South-Eastern Asia,1167242,14874.0,31.9
229,Trinidad and Tobago,TT,TTO,Port of Spain,Americas,Caribbean,1349667,5130.0,40.3
232,Turkmenistan,TM,TKM,Ashgabat,Asia,Central Asia,4751120,488100.0,40.8
240,Uruguay,UY,URY,Montevideo,Americas,South America,3480222,181034.0,39.7

## Cvičení
Odkaz na cvičení: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber#excs%3Eceska-jmena-2

In [29]:
# vrací unikátní hodnoty
staty["region"].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', 'Polar', ''],
      dtype=object)

In [28]:
# název regionu a počet státu
staty["region"].value_counts()

region
Africa      60
Americas    57
Europe      53
Asia        50
Oceania     27
             2
Polar        1
Name: count, dtype: int64

In [30]:
staty["region"].value_counts(normalize=True) # název regionu a procenta

region
Africa      0.240
Americas    0.228
Europe      0.212
Asia        0.200
Oceania     0.108
            0.008
Polar       0.004
Name: proportion, dtype: float64